---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <header id="header">HEADER</header>
  <aside id="left-aside">LEFT-ASIDE</aside>
  <section id="banner">BANNER</section>
  <aside id="right-aside">RIGHT-ASIDE</aside>
  <main id="main">MAIN</main>
  <section id="low-content">LOW-CONTENT</section>
  <footer id="footer">FOOTER</footer>
</Layout>

<style>
  #header {
    grid-area: header;
    outline: 2px solid red;
  }

  #left-aside {
    grid-area: left-aside;
    outline: 2px solid #00ff2a;
  }

  #banner {
    grid-area: banner;
    outline: 2px solid #3700ff;
  }

  #right-aside {
    grid-area: right-aside;
    outline: 2px solid #ff006a;
  }

  #main {
    grid-area: main;
    outline: 2px solid #00fff2;
  }

  #low-content {
    grid-area: low-content;
    outline: 2px solid #b68e9f;
  }

  #footer {
    grid-area: footer;
    outline: 2px solid #e9ec27;
  }
</style>
