<nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="https://x.com/moibaldenegro" target="_blank">@moibaldenegro</a></li>
    </ul>
  </nav>
  <style>
     nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 8px;
  }
  li {
    display: flex;
    align-items: center;
  } 
  </style>