---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    color: #ddd;
    text-align: center;
  }
  body {
    height: 100vh;
    display: grid;
    grid-template-rows: 5rem auto 1fr auto 5rem;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header header"
      "left-aside banner right-aside"
      "left-aside main right-aside"
      "left-aside low-content right-aside"
      "footer footer footer";

    grid-gap: 8px;
    padding: 8px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  @media (max-width: 678px) {
    body {
      grid-template-rows: 3rem 3rem 3rem 1fr 3rem 3rem 3rem;
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "banner"
        "left-aside"
        "main"
        "right-aside"
        "low-content"
        "footer";
    }
  }
</style>
